<h4><%= @user.surname %>様 いつもご利用頂きありがとうございます。</h4>
<p>ご登録情報</p>
<table>
  <tbody>
    <tr>
      <td><%= @user.surname %> <%= @user.name %></td>
    </tr>
    <tr>
      <td><%= @user.surname_kana %> <%= @user.name_kana %></td>
    </tr>
    <tr>
      <td>〒<%= @user.post %> <%= @user.address %></td>
    </tr>
    <tr><td><%= @user.tel %></td></tr>
    <tr><td><%= @user.email %></td></tr>
  </tbody>
</table>

<%= link_to "会員情報の編集", public_information_edit_path %>
<%= link_to "ご登録の配送先", public_order_addresses_path(@user) %>
<%= link_to "ご注文履歴", public_orders_path(@user) %>
<%= link_to "ホーム", public_root_path %>
<%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>