<div class="row">
    <h2>商品新規登録</h2>
    <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
    
    <div class="field">
        <%= f.label :商品画像 %>
        <span class="image-file"></span>
        <%= f.file_field :image, id:"item-image", class:"hidden" %>
   </div>
        	
    <div class="field">
        <%= f.label :商品名 %>
        <%= f.text_field :name %>
    </div>
    
    <div class="field">
        <%= f.label :商品説明 %>
    	<%= f.text_area :explain %>
    </div>
    
    <div class="field">
    	<%= f.label :ジャンル %>
    	<%= f.collection_select( :genre_id, Genre.all, :id, :title, options = { include_blank: '選択してください' } ) %>
    </div>
　  
　  <div class="field">
        <%= f.label :税抜価格 %>
    	<%= f.text_field :price %>円
    </div>
    
    <div class="field">
        <%= f.label :販売ステータス %>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_enabled, "販売中" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_enabled, "販売停止中" %>
    </div>
    
    <div>
    	<%= f.submit "新規登録" %>
    </div>
    
    <% end %>
</div>