<h2><%= @customer.surname %><%= @customer.name %>様の会員情報編集</h2>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch, local:true do |f| %>
    <table>
      <tbody>
        <tr>
          <th>氏名</th>
          <th><%= f.text_field :surname %><%= f.text_field :name %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= f.text_field :surname_kana %><%= f.text_field :name_kana %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= f.text_field :post %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= f.text_field :address %></th>
        </tr>
          <th>電話番号</th>
          <th><%= f.text_field :tel %></th>
        </tr>
        <tr>
          <th>email</th>
          <th><%= f.email_field :email %></th>
        </tr>
        <tr>
          <th>会員ステータス</th>
        </tr>
        <tr>
          <th><%= f.submit '変更を保存' %></th>
        </tr>
      </tbody>
    </table>
  <% end %>

