<h2>会員一覧</h2>

<% @customers.each do |customer| %>
    <br><%= customer.id %>
    <%= link_to admin_customer_path(customer) do %>
        <%= customer.surname %>  <%= customer.name %>
    <% end %>
    <%= customer.email %>
    </br>
<% end %>