<div class="row">
    <div class="col-6 mx-auto">
      <table class="table table-hover">
        <thead class = "thead-light">
        <h3><%= @customer.surname %><%= @customer.name %>様の会員詳細</h3>
        </thead>
        <tbody>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">氏名</td>
            <td><%= @customer.surname %><%= @customer.name %></td>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">フリガナ</td>
            <td><%= @customer.surname_kana %><%= @customer.name_kana %></td>
          </tr>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">郵便番号</td>
            <td><%= @customer.post %></td>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">電話番号</td>
            <td><%= @customer.tel %></td>
          </tr>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">email</td>
            <td><%= @customer.email %></td>
          <tr>
            <td class="p-3 mb-2 bg-secondary text-white">会員ステータス</td>
              <% if @customer.is_enable == true %>
            <td class="text-success">有効</td>
              <% else %>
            <td class="text-danger">退会</td>
              <% end %>
          </tr>
          <tr>
            <td><%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success .mx-auto" %></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>